@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/QanelasSoftDEMO-ExtraBold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QanelasLight';
  src: url('../fonts/QanelasSoftDEMO-UltraLight.otf');
  font-weight: normal;
  font-style: normal;
}
.qanelas-bold{
  font-family: Qanelas;
}
.qanelas-light{
  font-family: QanelasLight;
}

html {background: #e7e7e7;}


/* *****************
*************
 new styles after wordpress rework 
**************
*************/
body {font-size: 16px;}

/*sitewide styling */
#wrapper {
  background:#eeeeee;
}
@media(min-width: 1200px){
.container-opaque{
  background:linear-gradient(
    to left, 
    #ffffff00 0%,
    #ffffffa8 8%,
    #ffffffa8 92%,
    #ffffff00 100%);
  padding: 0 100px;
  width: 1370px;
  }
}
.content {
  background:none;
}
.button{
  max-height: 70px;
}
.button:hover, a.button:hover, a.button:active, a.button:focus {
  background-color: #578ad6;
}
.headline {
  margin-top:30px;
  font-family: Qanelas;
  font-size:3em;
  margin-bottom:30px;
  text-align:center;
}
.feather-background-blue {
  box-shadow: 0px -2px 20px 20px #aeaba657;
  background-color: #aeaba657;
  margin: 0 20px;
  border-radius:3px;
}

.subtitle-lines{
    max-width: 80%;
    overflow: hidden;
    margin: 0 auto;
    font-size: 40px;
}
.margin-lines {
  line-height: 0.5;
  text-align: center;
}
.margin-lines span {
  display: inline-block;
  position: relative;  
}
.margin-lines span:before,
.margin-lines span:after {
  content: "";
  position: absolute;
  height: 10px;
  border-bottom: 1px solid #333333;
  top: 5px;
  width: 600px;
}
.margin-lines span:before {
  right: 100%;
  margin-right: 15px;
}
.margin-lines span:after {
  left: 100%;
  margin-left: 20px;
}
.row-content{
  overflow:hidden;
}

/* HOME PAGE STYLES */
#wrapper {
    background: linear-gradient(150deg, #efefef 0%, #efefef 50%, #b8b2aa 50%, #b8b3a8 100%);
    background: linear-gradient(#ded9d1, #efefef, #efefef);
  }
.featured-pages {
  background-color: rgba(255, 255, 255, 0);
  margin:0 20px;
}
.home-card-img {
  filter: brightness(70%);
  animation: out-filter-animation .3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  background-size:contain;
}

.home-card-img:hover {
  animation: in-filter-animation .3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.home-card-title {
    position: absolute;
    bottom: 30px;
    z-index: 10;
    color: white;
    margin:0 auto;
    left:0;
    right:0;
    font-size:70px !important;
    text-shadow:0px 0px 10px rgba(0, 0, 0, 1);
}

@keyframes in-filter-animation {
  from {
    filter: brightness(70%);
  } 
  to {
    filter: brightness(100%);
    transform:scale(1.05);
  }
}
@keyframes out-filter-animation {
  from {
    filter: brightness(100%);
    transform:scale(1.05);
  } 
  to {
    filter: brightness(70%);
  }
}




/* center facebook likebox */
.cff-likebox { text-align: center; }
.cff-likebox .fb_iframe_widget { width: 500px !important; float:none; }


#masthead .site-description { font-weight:600; }

.givingpress-lite-title-active.givingpress-lite-header-active #masthead .site-description {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
}

/* top nav styles */
.site-title{
  transition: transform .1s;
}
.site-title:hover{
  transform:scale(1.08);
}

#top-nav {
  padding: 0;
  background:linear-gradient( rgba(228, 228, 228, 0.6), rgba(228, 228, 228, 0.6) ),url('../images/mountains.png');
  background-repeat:repeat-x;
}
#top-info {
  border-bottom:0;
}
#contact-info{
  background:#efefef;
}
#navigation {
  background: #f5f5f58a;
  padding:20px;
}
.contact-info-wrapper{
  margin-left:15px;
}
#nav-donate-button {
  margin-top:32px;
  margin-right:30px;
  margin-bottom:0px;
  font-weight:normal;
}
/* links color blue*/
a, a:link, a:visited {
  color:#578ad6;
}

/* about us page styles */
.team-member {
  background: #91969f7a;
  border-radius: 10px;
}
.profile-pic {
  width:80%;
  padding-top:20px;
}
/* FOOTER STYLES */
.footer{
  background: linear-gradient( rgba(228, 228, 228, 0.6), rgba(228, 228, 228, 0.6) ),url(../images/mountains.png);
  background-repeat: repeat-x;
  margin:0px auto;
  border-top:none;
}
.footer-information{
  padding-bottom:35px;
}
/** END STYLES AFTER WP REWORK 

*************************
************************
**/

/* Header Styles */
#cin-nav-logo {width:250px;margin-top:7px; transition: width .2s ease}


#navbar ul {margin-top:15px;margin-bottoM:5px;}
#navbar ul > li {padding:20px 5px 10px;}
#navbar ul > li > a{padding: 6px; border-radius: 4px; color:#2B1F6D}
#navbar ul > li > a:hover {background: #0D0169; color:white;}
.navbar-nav {float:right !important;}
#mobile-menu-icon{margin-top:22px;}

#navbar .highlighted-pg {background: #d3d3f1; color: #2B1F6D;}

/* lightbox */
#lightbox {
  cursor:pointer;
  width:100%; 
  height:100%;
  z-index:2000;
  position:fixed;
  background:rgba(0,0,0,0.60);}

#lightbox-frame {width:80%;height:80%;margin: 50px auto; position:relative;border:14px solid white;background:#000;}
#close-lightbox {position:absolute;    width: 45px;
    height: 45px;
    font-size: 35px;
    background: rgba(197, 197, 197, 0.3);
    text-align: center;right:0; color:black;font-weight:bold;}
#close-lightbox:hover {background:rgba(255, 255, 255, 0.39);}

/* Footer Styles */
footer {height:30px; background: #a6a6a6;}

#footer-form {background:#e7e7e7;}
#footer-logo {width:225px; display:block; margin: 0 auto;}
#footer-social-wrapper {width:65px; display:block; margin:0 auto;}
#footer-form-wrapper {height:115px;}
#footer-form-wrapper .footer-label {background:#788cb2;width:80px; border-radius:4px;border-bottom-right-radius: 0; border-top-right-radius: 0;padding:6px; display:inline-block;color:white;}
#footer-form-wrapper > div {height:43px;}
#footer-form-item > div {padding-top:8px; width: 260px;}
#footer-form .col-md-4 {height:140px;margin-top:20px;}
#footer-line {height:120px; width:2px;background:grey; display:inline-block;}
#footer-left-wrapper {vertical-align:top;display:inline-block;margin:5px 20px 0px;padding-top:12px;}

#footer-form-item input {height:32px; background:#c2c2c2; padding-left:6px; border:0;border-radius:4px;border-bottom-left-radius: 0; border-top-left-radius: 0;}
#footer-form-item {}
#footer-form-button {margin-top:8px; color:white;background:#c35858;border-radius:2px; width:100px;border:0;height:27px;text-align:center; margin:0 auto;display:block;}
#footer-form-button img {height:15px;float:right; vertical-align:top; margin-top:2px ;}

#footer-form-arrow {height: 112px;
    width: 31px;
    border-radius: 4px;
    margin-top:8px;
    border: 0;
    background: #c35858;}
#footer-form-arrow:hover {background:#8a3e3e;}
#footer-form-arrow img {height:20px;}

#footer-social-wrapper > div {background-size:contain;width:30px;height:30px;display:inline-block;cursor:pointer}
#fb-icon {background-image:url("../images/icons/fb-icon.png")}
#email-icon {width:30px;height:30px;display:inline-block;background-size:contain;background-image:url("../images/icons/email-icon.png")}

#fb-icon:hover {background-image:url("../images/icons/fb-icon-hover.png")}
/*#email-icon:hover {background-image:url("../images/icons/email-icon-hover.png")}*/

/* Home Page Styles */
#cycle {position:relative; height:677px;}
#cycle img {position:absolute;z-index:1}
#cycle img.active {z-index:3}

#our-mission{background: #e7e7e7; font-size:17px;padding-bottom:40px;}
#our-mission h2 {display: block;margin: 50px auto 10px;width: 280px;font-size:50px;}

.half-split-home {
  border-radius:10px;
    width: 400px;
    height: 400px;
    background: black;
    background-size:contain;
    margin: 0 auto;}

.text-muted {width: 80%; text-align: center;}
#home-projects {background-image:url('images/homegallery/projects.png');}
#home-progress {background-image:url('images/homegallery/progress.png');}
.our-mission-cover {border-radius:10px;width:100%;height:100%;}
.our-mission-cover:hover{background: rgba(21, 21, 21, 0.67);cursor:pointer;}

.our-mission-cover > div {opacity:0; transition: opacity .4s ease; color:lightgrey ;font-weight:bold;padding-top:180px; font-size:16px;}
.our-mission-cover:hover > div {opacity:1;}

/* Photos Page Styles */
#gallery-photos {background:#333333;min-height:850px;}
#thumbnail-list {margin-top:150px;}
#thumbnail-list > div {height:200px;}
#thumbnail-col {overflow:hidden;margin-bottom:10px;}
#img-container {position:relative; height:200px; border: 6px solid #d0d0d0; overflow:hidden;-webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;}
#img-container:hover {cursor:pointer; -webkit-box-shadow: 0px 0px 17px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 17px rgba(255,255,255,0.9); }
#img-container > img {position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%; width:100%;}



@media screen and (max-width:768px){
    #cin-nav-logo {margin-bottom:10px;width:200px;margin-left:3px;}
    #img-container {height:150px;}
    .navbar-nav {float:none !important;}
    #footer-form-wrapper table {margin: 0 auto;}
    #footer-form-wrapper > div {text-align:center;}
    #cycle {height:400px;}
}

@media screen and (min-width:768px){
    #menu-icon{display:none !important;}
    #cin-nav-logo:hover{width:255px;}
}
/* .2 second background transition */
.bg-t2 {-webkit-transition: background .2s ease, color .2s ease; -moz-transition: background .2s ease, color .2s ease;-ms-transition: background .2s ease, color .2s ease;-o-transition: background .2s ease, color .2s ease; transition: background .2s ease, color .2s ease;
    }
    
/* .4 second background transition */
.bg-t4 {-webkit-transition: background .4s ease, color .4s ease; -moz-transition: background .4s ease, color .4s ease;-ms-transition: background .4s ease, color .4s ease;-o-transition: background .4s ease, color .4s ease; transition: background .4s ease, color .4s ease;
    }



/* Animation Stuff */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}